.navigation {
  border-bottom: 1px solid #c3c3c3;
  padding: 1rem 0;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-title {
  font-size: 3rem;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.navigation-item,
.navigation-item > * {
  margin: 0;
  margin-left: 1rem;
}

.hero {
  position: relative;
}

.hero-title,
.hero-button {
  color: white;
  text-align: center;
}

.hero-button {
  display: block;
  margin: 0 auto;
}

.hero-call-to-action {
  position: absolute;
  width: 100%;
  top: 50%;
}

.info-header {
  text-align: center;
  margin: 3rem 0;
}

.info-row {
  margin-bottom: 2rem;
}

.info-text {
  padding: 2em;
}

.info-image {
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}
